<section id="inner-banner">
  <div class="container">
     <h1>Register Your Account</h1>
  </div>
</section>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
         <div id="main">
        <%= devise_error_messages! %>
            <section class="signup-section">
               <div class="container">
                  <div class="holder">
                     <div class="thumb"><%= image_tag "signup.png" %></div>
                        <div class="input-box"> <i class="fa fa-envelope-o"></i>
                           <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
                        </div>
                        <div class="input-box"> <i class="fa fa-user"></i>
                           <%= f.text_field :username, autofocus: true, placeholder: "Username" %>
                        </div>
                        <div class="input-box"> <i class="fa fa-unlock"></i>
                           <%# if @minimum_password_length %>
                              <!-- <em>(<%#= @minimum_password_length %> characters minimum)</em> -->
                           <%# end %>
                           <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                        </div>
                        <div class="input-box"> <i class="fa fa-unlock"></i>
                           <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password" %>
                        </div>

                        <div class="upload-box">
                           <div class="hold"><a href="#">Maximum file size 20 MB</a> <span class="btn-file"> Browse File
                              <input type="file">
                              </span> 
                           </div>
                        </div>
                        <div class="check-box">
                           <%= f.check_box :terms_of_service %>
                           <strong>I’ve read <a href="#">Terms</a> &amp; <a href="#">Conditions</a></strong> 
                        </div>
                        <%= f.submit "Sign up" %>
                        <em>Already a Member?
                        <%= link_to "LOG IN NOW", new_user_session_path %>
                        </em>
                  </div>
               </div>
            </section>
         </div>
 <% end %>