
<div id="main">
<p id="notice"><%= notice %></p>
   <section class="post-section blog-post blog-medium">
      <div class="container">
        <div class="row">




<%#= product.user.username if product.user %>


          <div class="col-md-9 col-sm-8">
             <div class="resumes-content">
                <% @products.each do |product| %>
                <div class="box">
                   <div class="frame"><a href="#"><img src="assets/resumes/resumes-img-1.jpg" alt="img"></a></div>
                   <div class="text-box">
                      <h2><%= link_to product.title %></h2>
                      <h4><%= product.description %></h4>
                      <div class="clearfix"> <strong><i class="fa fa-map-marker"></i>Mountain View, CA</strong> <strong><i class="fa fa-globe"></i><a href="#">https://www.jobinn.com</a></strong> </div>
                      <span class="price"><i class="fa fa-money"></i><%= number_to_currency product.price %></span>
                      <div class="tags"> <a href="#"><i class="fa fa-tags"></i>Product Management,</a> <a href="#">Graphic Design,</a> <a href="#">HTML,</a> <a href="#">Development,</a> <a href="#">WordPress,</a> <a href="#">Content</a> </div>
                      <div class="btn-row"> <a href="#" class="resume"><i class="fa fa-file-text-o"></i>Resume</a> <a href="#" class="contact">Contact</a> <a href="#" class="login">Login to Bookmark this Resume</a> </div>
                   </div>
                </div>
                <% end %>
             </div>
          </div>








         <div class="col-md-3 col-sm-4">
            <aside>
               <div class="sidebar">
                  <h4>Text Widget</h4>
                  <div class="box">
                     <div class="frame"><a href="#"><img src="assets/blog/blog-test-widget.jpg" alt="img"></a></div>
                     <div class="text-col">
                        <p></p>
                     </div>
                  </div>
                  <h4>Recent Posts</h4>
                  <div class="box">
                     <div class="recent-post">
                        <ul>
                           <li>
                              <strong><a href="#">Middle Class jobs are being
                              replaced by flipping</a></strong>
                              <div class="img-frame"><a href="#"><img src="images/blog/recent-img-1.jpg" alt="img"></a></div>
                              <div class="text-area"> <a href="#"><i class="fa fa-user"></i>Dana Lincon</a> <a href="#"><i class="fa fa-calendar"></i>Mar 17, 2016 </a> </div>
                           </li>
                           <li>
                              <strong><a href="#">Middle Class jobs are being
                              replaced by flipping</a></strong>
                              <div class="img-frame"><a href="#"><img src="images/blog/recent-img-2.jpg" alt="img"></a></div>
                              <div class="text-area"> <a href="#"><i class="fa fa-user"></i>Austin Cherrist</a> <a href="#"><i class="fa fa-calendar"></i>Feb 20, 2016</a> </div>
                           </li>
                           <li>
                              <strong><a href="#">Middle Class jobs are being
                              replaced by flipping</a></strong>
                              <div class="img-frame"><a href="#"><img src="images/blog/recent-img-3.jpg" alt="img"></a></div>
                              <div class="text-area"> <a href="#"><i class="fa fa-user"></i>John Doe</a> <a href="#"><i class="fa fa-calendar"></i>Feb 09, 2016 </a> </div>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <h4>Archives</h4>
                  <div class="box">
                     <div class="archives-box">
                        <ul>
                           <li><a href="#">January 2016<span>(10)</span></a></li>
                           <li><a href="#">August 2015<span>(14)</span></a></li>
                           <li><a href="#">February 2015<span>(20)</span></a></li>
                           <li><a href="#">December 2014<span>(07)</span></a></li>
                           <li><a href="#">July 2014<span>(05)</span></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </aside>
         </div>
      </div>
      </div>
   </section>
</div>
















<%= link_to 'New Product', new_product_path %>

























