<!DOCTYPE html>
<html>
<head>
  <title>Khloktinh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,700,900' rel='stylesheet' type='text/css'>

</head>

<body class="theme-style-1">
    <%= render 'layouts/msg' %>
  <div id="wrapper">
    <%= render 'layouts/header' %>
    <% unless devise_controller? %>
      <%= render 'layouts/search_box' unless @disable_nav %> 
    <% end %>
    <%= yield %>
  </div>


  <%# <%= javascript_include_tag 'jquery-1.11.3.min'%>
  <%# <%= javascript_include_tag 'bootstrap.min'%>
  <%# <%= javascript_include_tag 'owl.carousel.min'%>
  <%# <%= javascript_include_tag 'jquery.velocity.min'%>
  <%# <%= javascript_include_tag 'jquery.kenburnsy'%>
  <%# <%= javascript_include_tag 'jquery.mCustomScrollbar.concat.min'%>
  <%# <%= javascript_include_tag 'custom'%>


</body>
</html>
